<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <nav>
      <ul>
        <li><a href="/auth/signin">Sign In</a></li>
        <li><a href="/auth/signup">Sign Up</a></li>
        <li><a href="/auth/signout">Sign Out</a></li>
      </ul>
    </nav>
    <p>This is the home page of your application. You can sign in, sign up, or sign out using the links above.</p>
  </body>
</html>
