<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <header>
    <h1>Welcome to <%= title %></h1>
  </header>
  <main>
    <%- body %>
  </main>
  <footer>
    <p>Footer content here</p>
  </footer>
</body>
</html>
